[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-wombat"]
	path = bundle/vim-wombat
	url = https://github.com/cschlueter/vim-wombat.git
